{% load static %}

<a href="#" class="nav-photo">
    <img src="{% static 'images/eu_desenhado.png' %}" alt="">
    <h3> José Pedro </h3>
</a>

<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="#welcome">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#projects">Projetos</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#">Artigos</a></li> -->
    <li class="nav-item"><a class="nav-link" href="#skills">Habilidades</a></li>
    <li class="nav-item"><a class="nav-link" href="#about-me">Sobre mim</a></li>
</ul>