#header {
    position: fixed;
    z-index: 3;

    height: 80px;
    padding-top: 10px;
    padding-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: #003140c0;

    /* box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.041) ; */
}

#header .nav-photo {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#header .nav-photo img {
    margin-right: 10px;
    padding-left: 4px;
    height: 60px;
    width: 55px;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.158);
}

#header .nav-photo h3 {
    font-family: monospace;
    font-size: .9rem;
}

#header ul.nav {
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul.nav li.nav-item {
    margin: 0px 10px;
    font-size: .9rem;
}

#header ul.nav li.nav-item a.nav-link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    height: 30px;
    margin-top: 10px;

    color: rgb(239, 241, 243);
    font-weight: bold;
}

#header ul.nav li.nav-item a.nav-link::after{
    content: '';
    display: block;
    
    width: 0;
    height: 2px;
    margin-top: 3px;

    transition: width 0.5s ease-in;

    background-color: #52c3e6;
}


#header ul.nav li.nav-item a.nav-link:hover, #header ul.nav li.nav-item a.nav-link.active {
    color: #52c3e6;
} 

#header ul.nav li.nav-item a.nav-link:hover::after, #header ul.nav li.nav-item a.nav-link.active::after {
    width: 100%;
}